fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #3498db;
	border-color: #3498db;
	color: #fff;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	color: #070749;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	position: relative;
	z-index: -9999;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video,
iframe,
object {
	border: none;
	height: auto;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

form {
	margin: 0;
	padding: 0;
}

label {
	display: inline-block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

button,
select {
	text-transform: none;
}

select {
	cursor: pointer;
}

textarea {
	-ms-overflow-style: scrollbar;
	overflow: auto;
	resize: vertical;
}

dialog {
	background-color: inherit;
	border: solid;
	color: inherit;
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

dialog:not([is-open]) {
	display: none;
}

summary {
	cursor: pointer;
	display: list-item;
}

/* Remove all animations and transitions for people that prefer not to see them */

.header {
	left: 50%;
	position: fixed;
	top: 0;
	transform: translateX(-50%);
	width: 100%;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 1050px;
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
}

.about {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding-bottom: 11.375rem;
	padding-top: 11.78125rem;
	position: relative;
	width: 100%;
}

.about::after {
	background-image: url(../img/bg2@2x.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 34.95781rem;
	left: calc(50% - 11rem);
	position: absolute;
	top: 4.875rem;
	width: 56.50937rem;
	z-index: -1;
}

.about__media {
	align-items: center;
	display: flex;
	justify-content: center;
}

.about__body {
	margin-right: 1.875rem;
	width: 22.1875rem;
}

.about__title {
	font-size: 1.875rem;
	font-weight: bold;
}

.about__explain {
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.75;
	margin-top: 1.875rem;
}

.about__explain .small {
	font-size: 0.625rem;
}

.about__video {
	height: 16.69687rem;
	width: 29.69687rem;
}

.about__video iframe {
	height: 100%;
	width: 100%;
}

.archive {
	margin-top: 5rem;
	padding-bottom: 9.0625rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	padding-top: 5.9375rem;
	position: relative;
}

.archive__title {
	color: #070749;
	font-size: 1.625rem;
	font-weight: bold;
	line-height: 1.25;
	text-align: center;
}

.archive__inner {
	margin-left: auto;
	margin-right: auto;
	margin-top: 4.46875rem;
	max-width: 48.75rem;
	width: 100%;
}

.archive__list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 9.0625rem;
}

.archive__item {
	margin-bottom: 2.03125rem;
	margin-right: 5%;
	width: 30%;
}

.archive__item:nth-of-type(3n) {
	margin-right: 0;
}

.archive__image {
	height: auto;
	width: 100%;
}

.archive__image img {
	height: 100%;
	width: 100%;
}

.archive__body {
	background-color: #fff;
	margin-top: -1.09375rem;
	padding-bottom: 1.01563rem;
	padding-top: 1.625rem;
	position: relative;
	width: 88%;
	z-index: 5;
}

.archive__singleTitle {
	color: #070749;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: 1.7;
}

.archive__badge {
	color: #070749;
	font-size: 0.6875rem;
	font-weight: 600;
	line-height: 1.5625;
	margin-top: 1.01563rem;
}

.archive__name {
	color: #070749;
	font-size: 0.6875rem;
	font-weight: 600;
	line-height: 1.5625;
}

.archive__date {
	color: #808080;
	font-size: 0.6875rem;
	font-weight: 600;
	line-height: 1.5625;
	margin-top: 1.01563rem;
}

.archive__pagenation {
	text-align: center;
}

.archive__pagenation .next.page-numbers {
	display: none;
}

.archive__pagenation .page-numbers {
	border: 0.1875rem solid #070749;
	border-radius: 0.625rem;
	font-size: 1.125rem;
	font-weight: bold;
	margin-right: 0.625rem;
	padding: 0.625rem 0.9375rem;
}

.archive__pagenation .page-numbers:last-child {
	margin-right: 0;
}

.archive__pagenation .page-numbers.current {
	background-color: #070749;
	color: #fff;
}

.benefits {
	background-color: #e5f5fd;
	padding-bottom: 6.0625rem;
	padding-top: 4.6875rem;
}

.benefits__title {
	font-size: 1.875rem;
	font-weight: bold;
	text-align: center;
}

.benefits__explain {
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.75;
	margin-top: 2.1875rem;
	text-align: center;
}

.benefits__media {
	align-items: center;
	background-color: #fff;
	border-radius: 1.5625rem;
	box-shadow: 0 0 0.625rem 0 rgba(0, 160, 233, 0.2);
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3.4375rem;
	max-width: 52rem;
	padding-bottom: 1.5625rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 1.875rem;
	width: 100%;
}

.benefits__image {
	height: auto;
	margin-right: 2.03125rem;
	width: 22.5rem;
}

.benefits__image img {
	height: 100%;
	width: 100%;
}

.benefits__body {
	width: 23.75rem;
}

.benefits__head {
	color: #333;
	font-size: 1rem;
	font-weight: bold;
}

.benefits__detail {
	color: #333;
	font-size: 0.625rem;
	font-weight: 600;
	line-height: 1.625;
	margin-top: 1.4375rem;
}

.benefits__linkWrap {
	margin-top: 1rem;
	text-align: right;
}

.benefits__link {
	color: #00a0e9;
	font-size: 0.8125rem;
	font-weight: bold;
	letter-spacing: 0.05em;
	padding-right: 1.875rem;
	position: relative;
}

.benefits__link::after {
	background-image: url(../img/arrow-right@2x-100.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 1.25rem;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1.25rem;
}

.benefits__registerWrap {
	margin-top: 0.9375rem;
	text-align: center;
}

.benefits__register {
	font-size: 0.875rem;
	font-weight: bold;
	text-decoration: underline;
}

.btn {
	background-color: #070749;
	border-radius: 2.1875rem;
	color: #fff;
	display: block;
	font-size: 1.25rem;
	font-weight: bold;
	height: 4.375rem;
	letter-spacing: 0.05em;
	line-height: 4.375rem;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
	transition: all .3s;
	width: 26.5625rem;
}

.btn::after {
	background-image: url(../img/arrow-btn@2x.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 1.125rem;
	position: absolute;
	right: 2.5rem;
	top: 50%;
	transform: translateY(-55%);
	width: 0.6875rem;
}

.btn--flow {
	background: linear-gradient(90deg, #00a0e9 0%, #00d2a0 100%);
	font-size: 1rem;
	height: 2.8125rem;
	line-height: 2.8125rem;
	width: 18.75rem;
}

.case {
	padding-bottom: 7.125rem;
	padding-top: 8.75rem;
}

.case__title {
	font-size: 1.875rem;
	font-weight: bold;
	text-align: center;
}

.case__cardUnit {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 4.6875rem;
	margin-top: 4.25rem;
}

.case__card {
	border: 0.0625rem solid #979797;
	margin-right: 4.26563rem;
	width: 23.75rem;
}

.case__card:nth-child(2n) {
	margin-right: 0;
}

.case__image {
	height: auto;
	width: 100%;
}

.case__image img {
	height: 100%;
	width: 100%;
}

.case__body {
	padding: 1.125rem;
}

.case__text {
	font-size: 1.0625rem;
	font-weight: bold;
	line-height: 1.60691;
}

.case__industry {
	color: #808080;
	font-size: 0.75rem;
	font-weight: bold;
	margin-top: 0.9375rem;
}

.case__name {
	border-bottom: 1px solid #808080;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 0.5rem;
}

.case__category {
	align-items: center;
	display: flex;
	margin-top: 0.625rem;
}

.case__logo {
	height: 0.625rem;
	margin-right: 0.625rem;
	width: 8.4375rem;
}

.case__logo img {
	height: 100%;
	width: 100%;
}

.case__categoryUnit {
	display: flex;
	flex-wrap: wrap;
}

.case__categoryItem {
	color: #fff;
	font-size: 0.625rem;
	font-weight: medium;
	height: 1rem;
	line-height: 1rem;
	margin-bottom: 0.3125rem;
	margin-right: 0.1875rem;
	text-align: center;
	width: 7.46875rem;
}

.case__categoryItem:nth-child(2n) {
	margin-right: 0;
}

.case__categoryItem--director {
	background-color: #007ce6;
}

.case__categoryItem--graphic {
	background-color: #00a124;
}

.case__categoryItem--web {
	background-color: #ee5a24;
}

.case__categoryItem--cg {
	background-color: #dc0a78;
}

.complete {
	margin-left: auto;
	margin-right: auto;
	max-width: 52rem;
	padding: 5.3125rem 0.9375rem 3.125rem 0.9375rem;
	width: 100%;
}

.complete__title {
	font-size: 2.23438rem;
	font-weight: bold;
	text-align: center;
}

.complete__title span {
	display: inline-block;
}

.complete__text {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 2.03125rem;
	text-align: center;
}

.complete__explain {
	font-size: 0.875rem;
	font-weight: bold;
	margin-top: 3.75rem;
	text-align: center;
}

.complete__infos {
	display: flex;
	justify-content: center;
}

.complete__infoWrap {
	margin-right: 3.75rem;
	margin-top: 3.75rem;
	padding-left: 2.5rem;
	position: relative;
}

.complete__infoWrap a {
	font-size: 1rem;
	font-weight: bold;
}

.complete__infoWrap::after {
	background-image: url(../img/tel@4x.png);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	height: 1.42188rem;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1.17813rem;
}

.complete__infoWrap:last-child {
	margin-right: 0;
}

.complete__infoWrap:last-child::after {
	background-image: url(../img/mail@4x.png);
	height: 1.09688rem;
	width: 1.52344rem;
}

.complete__linkWrap {
	margin-top: 3.75rem;
	text-align: center;
}

.complete__link {
	font-size: 1rem;
	font-weight: bold;
}

.contact {
	margin-left: auto;
	margin-right: auto;
	max-width: 36.875rem;
	padding: 5.3125rem 0.9375rem 15.625rem 0.9375rem;
	width: 100%;
}

.contact__title {
	font-size: 2.23438rem;
	font-weight: bold;
	text-align: center;
}

.contact__english {
	color: #00a0e9;
	font-family: Futura, 'Century Gothic', sans-serif;
	font-size: 1.21875rem;
	font-weight: bold;
	margin-top: 2.03125rem;
	text-align: center;
}

.contact__phase {
	margin-top: 6.5625rem;
}

.contact__phaseList {
	display: flex;
	justify-content: center;
	position: relative;
}

.contact__phaseList::before {
	background-color: #070749;
	content: "";
	height: 0.09375rem;
	left: 50%;
	position: absolute;
	top: -1.625rem;
	transform: translateX(-50%);
	width: 25.625rem;
}

.contact__phaseItem {
	font-size: 0.875rem;
	font-weight: bold;
	margin-right: 9.375rem;
	position: relative;
}

.contact__phaseItem::before {
	background-color: #fff;
	border: 0.125rem solid #070749;
	border-radius: 50%;
	content: "";
	height: 0.625rem;
	left: 50%;
	position: absolute;
	top: -1.875rem;
	transform: translateX(-50%);
	width: 0.625rem;
}

.contact__phaseItem.current::before {
	background-color: #070749;
}

.contact__phaseItem:last-child {
	margin-right: 0;
}

.contact__explain {
	font-size: 0.875rem;
	font-weight: 600;
	margin-top: 3.75rem;
}

.contact__time {
	background-color: #070749;
	border-radius: 0.8125rem;
	color: #fff;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: 1.625rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.03125rem;
	text-align: center;
	width: 16.25rem;
}

.contact__main {
	color: #333;
	font-size: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4.6875rem;
	max-width: 32.5rem;
	width: 100%;
}

.contact__confirm {
	color: #333;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
	font-size: 1rem;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4.6875rem;
	max-width: 32.5rem;
	width: 100%;
}

.contact input,
.contact select,
.contact textarea {
	background-color: #edf8fd;
	border: none;
	color: #666666;
	font-size: 0.875rem;
	font-weight: 600;
	padding: 0.625rem 1.25rem;
}

.contact input.gray,
.contact select.gray,
.contact textarea.gray {
	background-color: #efefef;
}

.contact__item {
	margin-top: 1.25rem;
}

.contact__item--color {
	margin-top: 1.875rem;
}

.contact__item--border {
	border-top: 0.0625rem solid #070749;
	margin-top: 1.875rem;
	padding-top: 1.875rem;
}

.contact__label {
	font-size: 0.875rem;
	font-weight: bold;
	margin-bottom: 0.625rem;
}

.contact__label--notOne {
	margin-top: 1.875rem;
}

.contact__label.need {
	display: inline-block;
	position: relative;
}

.contact__label.need::after {
	color: #ff0000;
	content: "*";
	font-size: 0.625rem;
	position: absolute;
	right: -0.625rem;
	top: 0;
}

.contact__label br {
	display: none;
}

.contact__detail {
	font-size: 0.75rem;
	font-weight: 600;
}

.contact__separate {
	display: flex;
}

.contact__separate-inner {
	width: 48%;
}

.contact__separate-inner:first-child {
	margin-right: 4%;
}

.contact__separate input {
	width: 100%;
}

.contact__separate select {
	width: 48%;
}

.contact__wide input {
	width: 100%;
}

.contact__textarea {
	margin-top: 1.25rem;
	width: 100%;
}

.contact__textarea textarea {
	width: 100%;
}

.contact__color {
	color: #fff;
	font-size: 0.875rem;
	font-weight: bold;
	padding-bottom: 0.6875rem;
	padding-left: 0.8125rem;
	padding-top: 0.6875rem;
}

.contact__color.orange {
	background-color: #f15a24;
}

.contact__color.green {
	background-color: #00a024;
}

.contact__color.pink {
	background-color: #dc0a78;
}

.contact__color.gray {
	background-color: #999999;
}

.contact__color.beige {
	background-color: #c69c6d;
}

.contact__color .need {
	display: inline-block;
	position: relative;
}

.contact__color .need::after {
	color: #fff;
	content: "*";
	font-size: 0.625rem;
	position: absolute;
	right: -0.3125rem;
	top: 0;
}

.contact__select {
	align-items: center;
	background-color: #fafafa;
	display: flex;
	flex-wrap: wrap;
	padding: 0.75rem;
	width: 100%;
}

.contact__select .mwform-checkbox-field.horizontal-item {
	display: block;
	margin: 0;
	width: 50%;
}

.contact__select .mwform-checkbox-field-text {
	font-size: 0.78125rem;
	font-weight: 600;
	line-height: 1.2;
	margin: 0;
	padding-left: 1.75rem;
	text-align: left;
}

.contact__select .mwform-checkbox-field-text::before {
	border-color: #333;
	left: 0;
}

.contact__select .mwform-checkbox-field-text::after {
	left: 4px !important;
}

.contact__select input[type="checkbox"]:checked + span::before {
	border-color: #070749;
}

.contact__select input[type="checkbox"]:checked + span::after {
	background-color: #070749;
}

.contact__select input[type="checkbox"]:checked + span {
	color: #070749;
}

.contact__radio {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.625rem;
	width: 100%;
}

.contact__radio .mwform-radio-field.horizontal-item {
	margin: 0;
	width: 100%;
}

.contact__radio .mwform-radio-field-text {
	font-size: 0.875rem;
	font-weight: bold;
}

.contact__radio input[type="radio"]:checked + span::before {
	border-color: #070749;
}

.contact__radio input[type="radio"]:checked + span {
	color: #070749;
}

.contact__radio input[type="radio"]:checked + span::after {
	background-color: #fff;
	border: 6px solid #070749;
	box-sizing: content-box;
	height: 0.3125rem;
	left: -8.5px;
	top: 38%;
	width: 0.3125rem;
}

.contact__attention {
	font-size: 0.625rem;
	font-weight: bold;
	margin-top: 0.5rem;
}

.contact__privacyWrap {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 5.625rem;
}

.contact__privacyWrap input[type="checkbox"] + span::before {
	left: 50%;
	transform: translateX(-50%);
}

.contact__privacyWrap input[type="checkbox"]:checked + span::before {
	border-color: #070749;
}

.contact__privacyWrap input[type="checkbox"] + span::after {
	left: 50%;
	transform: translateX(-50%);
}

.contact__privacyWrap input[type="checkbox"]:checked + span::after {
	background-color: #070749;
}

.contact__privacyWrap input[type="checkbox"]:checked + span {
	color: #070749;
}

.contact__privacyText {
	font-size: 1rem;
	font-weight: bold;
}

.contact__privacyText a {
	color: #666666;
	text-decoration: underline;
}

.contact__submitWrap {
	margin-top: 3.125rem;
	position: relative;
	text-align: center;
}

.contact__submitWrap::after {
	background-image: url(../img/arrow-btn@2x.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 1.125rem;
	position: absolute;
	right: 5.625rem;
	top: 50%;
	transform: translateY(-55%);
	width: 0.6875rem;
}

.contact__submitWrap input {
	background-color: #070749;
	border-radius: 2.1875rem;
	color: #fff;
	display: block;
	font-size: 1.25rem;
	font-weight: bold;
	height: 4.375rem;
	letter-spacing: 0.05em;
	line-height: 4.375rem;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	text-align: center;
	transition: all .3s;
	width: 26.5625rem;
}

.contact__submitWrap input.return {
	background-color: #808080;
}

.contact__submitWrap input:disabled {
	background-color: #808080;
}

.mw_wp_form .error {
	font-size: 0.75rem !important;
}

.flow {
	margin-left: auto;
	margin-right: auto;
	max-width: 52rem;
	padding-top: 9.375rem;
	position: relative;
	width: 100%;
}

.flow::after {
	background-image: url(../img/bg3@2x.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 29.65625rem;
	left: -20.3125rem;
	position: absolute;
	top: 3.0625rem;
	width: 43.18438rem;
	z-index: -1;
}

.flow__title {
	font-size: 1.875rem;
	font-weight: bold;
}

.flow__explain {
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.75;
	margin-top: 2.0625rem;
}

.flow__list {
	margin-top: 5.3125rem;
}

.flow__item {
	align-items: center;
	display: flex;
	justify-content: center;
}

.flow__item--second {
	margin-top: 3.25rem;
}

.flow__item--third {
	margin-top: 5.625rem;
}

.flow__item--fourth {
	margin-top: 5.625rem;
}

.flow__item--fifth {
	margin-top: 5.3125rem;
}

.flow__contents {
	align-items: flex-start;
	display: flex;
	margin-right: 4.25rem;
}

.flow__number {
	height: auto;
	margin-right: 1.4375rem;
	position: relative;
	width: 4.75rem;
}

.flow__number img {
	height: 100%;
	width: 100%;
}

.flow__number::before {
	background-color: #070749;
	content: "";
	height: 6.4375rem;
	left: 50%;
	position: absolute;
	top: -8.3125rem;
	transform: translateX(-50%);
	width: 0.0625rem;
}

.flow__number--first {
	margin-right: 2.0625rem;
	width: 4.0625rem;
}

.flow__number--first::before {
	content: none;
}

.flow__body {
	width: 23.125rem;
}

.flow__head {
	font-size: 1.25rem;
	font-weight: bold;
}

.flow__detail {
	font-size: 0.75rem;
	font-weight: bold;
	line-height: 1.38889;
	margin-top: 0.9375rem;
}

.flow__detail .small {
	font-size: 0.625rem;
}

.flow__image {
	height: auto;
	width: 11.25rem;
}

.flow__image img {
	height: 100%;
	width: 100%;
}

.flowBtn {
	position: fixed;
	transition: all .3s;
}

.flowBtn--faq {
	bottom: 10.9375rem;
	display: none;
	height: 2.98594rem;
	right: 1.25rem;
	width: 3.79844rem;
}

.flowBtn--faq img {
	height: 100%;
	width: 100%;
}

.flowBtn--top {
	bottom: 5.9375rem;
	display: none;
	height: 3.79844rem;
	right: 1.25rem;
	width: 3.79844rem;
}

.flowBtn--top img {
	height: 100%;
	width: 100%;
}

.flowBtn__wrap {
	background-color: #070749;
	bottom: -100%;
	left: 0;
	padding-bottom: 1.375rem;
	padding-top: 1.375rem;
	width: 100%;
}

.flowBtn__wrap.fixed {
	bottom: 0;
}

.footer {
	background-color: #070749;
	color: #fff;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	width: 100%;
}

.footer__inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 52rem;
	padding-bottom: 4.5rem;
	padding-top: 6.5625rem;
	width: 100%;
}

.footer__logos {
	align-items: center;
	border-bottom: 1px solid #fff;
	display: flex;
	justify-content: space-between;
	padding-bottom: 1.5625rem;
}

.footer__lancer {
	height: 1.875rem;
	width: 17.6875rem;
}

.footer__lancer img {
	-o-object-fit: contain;
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.footer__digital {
	align-items: center;
	display: flex;
}

.footer__digitalName {
	font-size: 0.875rem;
	font-weight: 400;
	margin-right: 1.4375rem;
}

.footer__digitalLogo {
	height: auto;
	width: 12.8125rem;
}

.footer__digitalLogo img {
	height: 100%;
	width: 100%;
}

.footer__contents {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-top: 1.5625rem;
}

.footer__navList {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -0.9375rem;
	width: 28.125rem;
}

.footer__navItem {
	font-size: 0.75rem;
	margin-bottom: 0.9375rem;
	width: 9.375rem;
}

.footer__navItem a {
	display: block;
	width: 100%;
}

.footer__relatedLogos {
	height: auto;
	width: 19.3125rem;
}

.footer__relatedLogos img {
	height: 100%;
	width: 100%;
}

.footer__information {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	margin-top: 4.5rem;
}

.footer__sns {
	display: flex;
}

.footer__snsLink {
	height: 100%;
	margin-right: 1.875rem;
	width: 1.25rem;
}

.footer__snsLink img {
	height: auto;
	width: 100%;
}

.footer__snsLink--facebook {
	margin-top: -0.125rem;
}

.footer__copyright {
	font-size: 0.625rem;
	font-weight: 400;
}

.fv {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	position: relative;
	width: 100%;
}

.fv__body {
	left: 4.375rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.fv__catch {
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: 0.05em;
	line-height: 1.73333;
}

.fv__title {
	height: auto;
	margin-top: 2.5rem;
	width: 21.875rem;
}

.fv__title img {
	height: 100%;
	width: 100%;
}

.fv__btnWrap {
	display: flex;
	margin-top: 4.0625rem;
}

.fv__btn {
	font-size: 0.9375rem;
	font-weight: bold;
	padding-bottom: 0.75rem;
	padding-right: 0.625rem;
	padding-top: 0.75rem;
}

.fv__btn--left {
	background-color: #fff;
	border: 0.1875rem solid #070749;
	margin-right: 0.3125rem;
	padding-left: 0.9375rem;
}

.fv__btn--right {
	background-color: #070749;
	border: 0.1875rem solid #070749;
	color: #fff;
	padding-left: 0.625rem;
}

.fv__mainImage {
	height: auto;
	margin-left: auto;
	margin-right: 0;
	width: 69.25%;
}

.fv__mainImage img {
	-o-object-fit: cover;
	-o-object-position: top;
	border-radius: 1.25rem 0 0 1.25rem;
	height: 100%;
	object-fit: cover;
	object-position: top;
	width: 100%;
}

.header {
	background-color: #fff;
	transition: all .5s;
	z-index: 999;
}

.header__inner {
	align-items: center;
	display: flex;
	font-size: 0;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	padding: 1.25rem 4.0625rem 0.3125rem 4.0625rem;
	width: 100%;
}

.header__inner--sp {
	display: none;
	padding: 0.9375rem 1.25rem;
	position: relative;
}

.header__logo {
	display: block;
	height: auto;
	width: 11.875rem;
}

.header__logo img {
	height: 100%;
	width: 100%;
}

.header__btn {
	background-color: #fff;
	border: 0.1875rem solid #070749;
	display: none;
	font-size: 0.875rem;
	font-weight: bold;
	margin-bottom: 0.625rem;
	padding-bottom: 0.5rem;
	padding-left: 0.9375rem;
	padding-right: 0.625rem;
	padding-top: 0.5rem;
}

.header__spLogo {
	height: auto;
	width: 10.9375rem;
}

.header__spLogo img {
	height: 100%;
	width: 100%;
}

.header__activeLogo {
	display: none;
}

.header__spNav {
	background-color: #fff;
	height: 100vh;
	position: absolute;
	right: -100%;
	top: 100%;
	transition: all .5s;
	width: 100%;
	z-index: 999;
}

.header__spNav.active {
	right: 0;
}

.header__navItem {
	background-color: #e6e6ed;
	border-bottom: 1px solid #9b948f;
}

.header__navLink {
	display: block;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.9375rem 1.25rem;
	position: relative;
}

.header__navLink::after {
	content: ">";
	font-size: 1rem;
	font-weight: bold;
	position: absolute;
	right: 1.875rem;
	top: 50%;
	transform: translateY(-50%);
}

.header.fixed {
	border-bottom: 1px solid #070749;
}

.header.active {
	background: linear-gradient(180deg, #0000b4 0%, #070749 80%);
}

.openbtn {
	cursor: pointer;
	height: 1.5625rem;
	position: relative;
	width: 1.5625rem;
}

/*ボタン内側*/

.openbtn span {
	background-color: #070749;
	border-radius: 2px;
	display: inline-block;
	height: 3px;
	left: 0; /*アニメーションの設定*/
	position: absolute;
	transition: all .4s;
	width: 100%;
}

.openbtn span:nth-of-type(1) {
	top: 0.1875rem;
}

.openbtn span:nth-of-type(2) {
	top: 0.6875rem;
}

.openbtn span:nth-of-type(3) {
	top: 1.1875rem;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
	left: 0;
	top: 0.28125rem;
	transform: translateY(6px) rotate(-45deg);
	width: 100%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0; /*真ん中の線は透過*/
}

.openbtn.active span:nth-of-type(3) {
	left: 0;
	top: 1.03125rem;
	transform: translateY(-6px) rotate(45deg);
	width: 100%;
}

.openbtn.active span {
	background-color: #fff;
}

.introduction {
	margin-left: auto;
	margin-right: auto;
	max-width: 80rem;
	padding-top: 8.75rem;
	position: relative;
	width: 100%;
}

.introduction::after {
	background-image: url(../img/bg1@2x.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 30.04219rem;
	left: -10.1875rem;
	position: absolute;
	top: 1.25rem;
	width: 48.56719rem;
	z-index: -1;
}

.introduction__media {
	align-items: center;
	display: flex;
	justify-content: center;
}

.introduction__body {
	margin-right: 1.1875rem;
}

.introduction__title {
	font-size: 1.875rem;
	font-weight: 800;
	line-height: 1.66667;
}

.introduction__explain {
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.75;
	margin-top: 2.23438rem;
}

.introduction__image {
	height: auto;
	width: 30%;
}

.introduction__image img {
	height: 100%;
	width: 100%;
}

.introduction__cardUnit {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 1.625rem;
}

.introduction__card {
	background-color: #fff;
	border-radius: 1.875rem;
	box-shadow: 0 0 0.625rem 0 rgba(0, 160, 233, 0.2);
	padding: 1.625rem 2.5rem;
	width: 26.875rem;
}

.introduction__card--left {
	color: #00a0e9;
	margin-right: 1.625rem;
}

.introduction__cardTitle {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

.introduction__cardProblem {
	border-radius: 1.25rem;
	color: #fff;
	display: block;
	font-size: 1rem;
	font-weight: bold;
	line-height: 2.5rem;
	margin-top: 1.21875rem;
	position: relative;
	text-align: center;
	width: 100%;
}

.introduction__cardProblem--left {
	background-color: #00a0e9;
}

.introduction__cardProblem--left::after {
	background-color: #00a0e9;
	bottom: -0.5rem;
	content: "";
	height: 1.25rem;
	left: 50%;
	position: absolute;
	transform: translateX(-50%) rotate(45deg);
	width: 1.25rem;
}

.introduction__cardProblem--right {
	background-color: #070749;
}

.introduction__cardProblem--right::after {
	background-color: #070749;
	bottom: -0.5rem;
	content: "";
	height: 1.25rem;
	left: 50%;
	position: absolute;
	transform: translateX(-50%) rotate(45deg);
	width: 1.25rem;
}

.introduction__problemList {
	margin-top: 1.8125rem;
}

.introduction__problemItem {
	font-size: 1rem;
	font-weight: bold;
	margin-left: 1.25rem;
	position: relative;
}

.introduction__problemItem--left::before {
	background-color: #00a0e9;
	border-radius: 50%;
	content: "";
	height: 1rem;
	left: -1.25rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1rem;
}

.introduction__problemItem--right::before {
	background-color: #070749;
	border-radius: 50%;
	content: "";
	height: 1rem;
	left: -1.25rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1rem;
}

.introduction__cardExplain {
	font-size: 0.75rem;
	font-weight: 600;
	line-height: 1.66667;
	margin-top: 1.42188rem;
	padding-top: 1.42188rem;
}

.introduction__cardExplain--left {
	border-top: 1px solid #00a0e9;
}

.introduction__cardExplain--right {
	border-top: 1px solid #070749;
}

.introduction__arrow {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4.26563rem;
	width: 6.875rem;
}

.introduction__arrow img {
	height: 100%;
	width: 100%;
}

.introduction__ok {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3.04688rem;
	width: 50%;
}

.introduction__ok img {
	height: 100%;
	width: 100%;
}

.job {
	margin-left: auto;
	margin-right: auto;
	max-width: 52rem;
	padding-bottom: 5.9375rem;
	padding-top: 11.75rem;
	position: relative;
	width: 100%;
}

.job::after {
	background-image: url(../img/bg5@2x.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 23.96875rem;
	left: -20.3125rem;
	position: absolute;
	top: 4.875rem;
	width: 38.73594rem;
	z-index: -1;
}

.job__title {
	font-size: 1.875rem;
	font-weight: bold;
}

.job__explain {
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.75;
	margin-top: 1.625rem;
}

.job__imageList {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.3125rem;
}

.job__imageItem {
	margin-right: 3.5%;
	margin-top: 1.625rem;
	width: 31%;
}

.job__imageItem:nth-of-type(3n) {
	margin-right: 0;
}

.job__image {
	height: 11.25rem;
	width: 100%;
}

.job__image img {
	-o-object-fit: cover;
	-o-object-position: top;
	border-radius: 1.5625rem;
	height: 100%;
	object-fit: cover;
	object-position: top;
	width: 100%;
}

.job__name {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 0.8125rem;
	text-align: center;
}

.news {
	background-color: #f2fafe;
	padding-bottom: 3.875rem;
	padding-top: 4.25rem;
}

.news__title {
	font-size: 1.875rem;
	font-weight: bold;
	text-align: center;
}

.news__inner {
	background-color: #fff;
	border-radius: 1.5625rem;
	margin-bottom: 0.8125rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.25rem;
	max-width: 52rem;
	padding-left: 2.03125rem;
	padding-right: 2.03125rem;
	padding-top: 1.625rem;
	width: 90%;
}

.news__inner iframe {
	height: 36.09375rem;
	width: 100%;
}

.news__attention {
	font-size: 0.75rem;
	font-weight: bold;
	margin-bottom: 3.4375rem;
	text-align: center;
}

.news__attention a {
	color: #00a0e9;
	text-decoration: underline;
}

.pasture {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding-top: 9.75rem;
	position: relative;
	width: 100%;
}

.pasture::after {
	background-image: url(../img/bg4@2x.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 28.74219rem;
	left: calc(50% + 3.25rem);
	position: absolute;
	top: 2.4375rem;
	width: 40.23906rem;
	z-index: -1;
}

.pasture__inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 52rem;
	width: 100%;
}

.pasture__title {
	font-size: 1.875rem;
	font-weight: bold;
}

.pasture__explain {
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.75;
	margin-top: 1.8125rem;
}

.pasture__image {
	height: auto;
	margin-top: 0.8125rem;
	max-width: 43.75rem;
	width: 100%;
}

.pasture__image img {
	height: 100%;
	width: 100%;
}

.pasture__attention {
	font-size: 0.625rem;
	font-weight: 600;
	line-height: 1.71429;
	margin-top: 0.625rem;
}

.question {
	padding-bottom: 18.125rem;
	padding-top: 6.875rem;
}

.question__title {
	font-size: 1.875rem;
	font-weight: bold;
	text-align: center;
}

/*アコーディオン全体*/

.accordion-area {
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3.75rem;
	max-width: 52rem;
	width: 100%;
}

.accordion-area li {
	margin: 10px 0;
}

.accordion-area section {
	background-color: #edf8fd;
}

/*アコーディオンタイトル*/

.title { /*+マークの位置基準とするためrelative指定*/
	cursor: pointer;
	font-size: 1.125rem;
	font-weight: bold;
	padding: 3% 3.59375rem 3% 5.625rem;
	position: relative;
	transition: all .5s ease;
}

/*アイコンの＋と×*/

.title::before,
.title::after {
	content: '';
	position: absolute;
}

.title::before {
	background-image: url(../img/question@2x.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 2.1125rem;
	left: 1.625rem;
	top: 50%;
	transform: translateY(-50%);
	width: 1.1375rem;
}

.title::after {
	background-image: url(../img/plus@2x.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 2.125rem;
	right: 0.9375rem;
	top: 50%;
	transform: translateY(-50%);
	width: 2.125rem;
}

.title.close::after {
	background-image: url(../img/minus@2x.png);
}

/*アコーディオンで現れるエリア*/

.box { /*はじめは非表示*/
	background: #edf8fd;
	display: none;
	font-size: 0.875rem;
	font-weight: 600;
	padding: 0 5rem 5% 5.625rem;
	position: relative;
}

.box::before {
	background-image: url(../img/answer@2x.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 2.88437rem;
	left: 1.375rem;
	position: absolute;
	top: 0;
	width: 1.58438rem;
}

.seminar {
	padding-top: 6.0625rem;
}

.seminar__title {
	font-size: 1.875rem;
	font-weight: bold;
	text-align: center;
}

.seminar__explain {
	font-size: 0.875rem;
	font-weight: 600;
	margin-top: 0.9375rem;
	text-align: center;
}

.seminar__cardUnit {
	border-bottom: 1px solid #070749;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5rem;
	max-width: 52rem;
	padding-bottom: 6.875rem;
	width: 100%;
}

.seminar__card {
	border: 0.0625rem solid #979797;
	display: block;
	margin-right: 2%;
	width: 32%;
}

.seminar__card:last-child {
	margin-right: 0;
}

.seminar__card--finish {
	position: relative;
}

.seminar__card--finish::before {
	background-image: url(../img/finish@2x.png);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	height: 0.9375rem;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 7.375rem;
	z-index: 99;
}

.seminar__card--finish::after {
	background-color: rgba(255, 255, 255, 0.9);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.seminar__image {
	height: auto;
	width: 100%;
}

.seminar__image img {
	height: 100%;
	width: 100%;
}

.seminar__body {
	padding: 0.75rem 0.625rem 0.9375rem 0.625rem;
}

.seminar__badge {
	background-color: #070749;
	border-radius: 0.625rem;
	color: #fff;
	display: inline-block;
	font-size: 0.75rem;
	font-weight: bold;
	line-height: 1.125rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

.seminar__name {
	font-size: 0.975rem;
	font-weight: bold;
	line-height: 1.5;
	margin-top: 0.1875rem;
}

.seminar__supplement {
	display: flex;
	margin-top: 0.625rem;
}

.seminar__date {
	color: #808080;
	font-size: 0.75rem;
	font-weight: bold;
	margin-right: 1rem;
}

.seminar__tags {
	display: flex;
}

.seminar__tag {
	border: 0.0625rem solid #070749;
	border-radius: 0.625rem;
	font-size: 0.75rem;
	font-weight: bold;
	line-height: 1rem;
	margin-right: 0.625rem;
	padding-left: 1.4375rem;
	padding-right: 1.4375rem;
}

.seminar__tag:last-child {
	margin-right: 0;
}

.article {
	margin-top: 5rem;
	padding-bottom: 9.375rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	padding-top: 5.9375rem;
	position: relative;
}

.article__bread {
	display: flex;
	left: 50%;
	position: absolute;
	top: 0.625rem;
	transform: translateX(-150%);
}

.article__breadItem {
	display: block;
	font-size: 0.75rem;
	font-weight: bold;
	margin-right: 0.3125rem;
	white-space: nowrap;
}

.article__breadItem:last-child {
	margin-right: 0;
}

.article__info {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	max-width: 45.625rem;
	width: 100%;
}

.article__title {
	-webkit-text-decoration: underline 0.09375rem;
	text-underline-offset: 0.15em;
	color: #070749;
	font-size: 1.42188rem;
	font-weight: bold;
	line-height: 2.57143;
	text-decoration: underline 0.09375rem;
}

.article__badge {
	color: #070749;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: 1.75;
	margin-top: 5.9375rem;
}

.article__name {
	color: #070749;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: 1.75;
}

.article__categories {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -0.625rem;
	margin-top: 4.0625rem;
	width: 22.5rem;
}

.article__category {
	color: #fff;
	font-size: 0.625rem;
	font-weight: 600;
	margin-bottom: 0.625rem;
	margin-right: 0.45rem;
	text-align: center;
	width: 7.2rem;
}

.article__category:nth-of-type(3n) {
	margin-right: 0;
}

.article__image {
	height: auto;
	width: 21.25rem;
}

.article__image img {
	height: 100%;
	width: 100%;
}

.article__description {
	color: #070749;
	display: block;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: 2;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5.625rem;
	max-width: 32.5rem;
	width: 100%;
}

.article .web-designer {
	background-color: #ef5a24;
}

.article .graphic-designer {
	background-color: #00a224;
}

.article .art-director {
	background-color: #007ce7;
}

.article .wp-block-image {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5.625rem;
	max-width: 90rem;
	width: 100%;
}

.article .wp-block-image img {
	height: 100%;
	width: 100%;
}

.article h2:not([class]) {
	color: #00a0e9;
	display: block;
	font-size: 0.875rem;
	line-height: 2;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5.625rem;
	max-width: 32.5rem;
	width: 100%;
}

.article p:not([class]) {
	color: #070749;
	display: block;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: 2;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.03125rem;
	max-width: 32.5rem;
	width: 100%;
}

.article__new {
	margin-left: auto;
	margin-right: auto;
	margin-top: 7.5rem;
	max-width: 48.75rem;
	width: 100%;
}

.article__new-interview {
	font-size: 0.875rem;
	line-height: 1.2;
	text-transform: uppercase;
}

.article__newList {
	border-top: 1px solid #000;
	display: flex;
	margin-bottom: 9.375rem;
	margin-top: 0.625rem;
	padding-top: 0.9375rem;
	width: 100%;
}

.article__newItem {
	display: flex;
	justify-content: space-between;
	width: 47%;
}

.article__newItem:first-child {
	margin-right: 6%;
}

.article__newImage {
	height: 5.9375rem;
	margin-right: 1.25rem;
	width: 8.125rem;
}

.article__newImage img {
	-o-object-fit: cover;
	-o-object-position: center center;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	width: 100%;
}

.article__newBody {
	max-width: 14.0625rem;
	width: 100%;
}

.article__newTitle {
	font-size: 0.8125rem;
	font-weight: bold;
	line-height: 2;
}

.article__newTitle br {
	display: none;
}

.article__newBadge {
	font-size: 0.625rem;
	font-weight: bold;
	line-height: 1.71429;
	margin-top: 0.5rem;
}

.article__newName {
	font-size: 0.625rem;
	font-weight: bold;
	line-height: 1.71429;
}

.article__btn {
	background-color: #070749;
	border-radius: 2.1875rem;
	color: #fff;
	display: block;
	font-size: 1.25rem;
	font-weight: bold;
	height: 4.375rem;
	letter-spacing: 0.05em;
	line-height: 4.375rem;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
	transition: all .3s;
	width: 26.5625rem;
}

.article__btn::after {
	background-image: url(../img/arrow-btn@2x.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 1.125rem;
	position: absolute;
	right: 2.5rem;
	top: 50%;
	transform: translateY(-55%);
	width: 0.6875rem;
}

.flowBtn {
	position: fixed;
	transition: all .3s;
}

.flowBtn--faq {
	bottom: 10.9375rem;
	display: none;
	height: 2.98594rem;
	right: 1.25rem;
	width: 3.79844rem;
}

.flowBtn--faq img {
	height: 100%;
	width: 100%;
}

.flowBtn--top {
	bottom: 5.9375rem;
	display: none;
	height: 3.79844rem;
	right: 1.25rem;
	width: 3.79844rem;
}

.flowBtn--top img {
	height: 100%;
	width: 100%;
}

.flowBtn--top.interview {
	bottom: 3.125rem;
}

.unit {
	margin-left: auto;
	margin-right: auto;
	max-width: 52rem;
	width: 100%;
}

.unit__title {
	font-size: 1.875rem;
	font-weight: bold;
}

.unit__title br {
	display: none;
}

.unit__explain {
	font-size: 0.8125rem;
	font-weight: 600;
	line-height: 1.75;
	margin-top: 1.625rem;
}

.unit__image {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5rem;
	width: 100%;
}

.unit__image img {
	height: 100%;
	width: 100%;
}

.works {
	padding-top: 6.09375rem;
}

.works__title {
	align-items: center;
	display: flex;
	font-size: 1.875rem;
	font-weight: bold;
	justify-content: center;
}

.works__title .small {
	font-size: 0.9375rem;
}

.works__explain {
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 0.05em;
	margin-top: 0.9375rem;
	text-align: center;
}

.works__company {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3.25rem;
	max-width: 43.125rem;
	width: 100%;
}

.works__company img {
	height: 100%;
	width: 100%;
}

.p-test {
	color: red;
	font-size: 3.125rem;
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-animation-duration: 0.01ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	scroll-behavior: auto !important;
	transition-duration: 0.01ms !important;
}

}

@media (min-width: 1000px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 1440px) {

.about__title {
	font-size: 2.0625rem;
}

.benefits__title {
	font-size: 2.0625rem;
}

.btn {
	font-size: 1.375rem;
	height: 3.75rem;
	line-height: 3.75rem;
	width: 27.5rem;
}

.case__title {
	font-size: 2.0625rem;
}

.complete {
	max-width: 54.375rem;
}

.flow {
	max-width: 54.375rem;
}

.flow__title {
	font-size: 2.0625rem;
}

.flowBtn--faq {
	bottom: 12.1875rem;
}

.flowBtn--top {
	bottom: 7.1875rem;
}

.fv__body {
	left: 8.75rem;
}

.fv__catch {
	font-size: 1.625rem;
}

.fv__title {
	width: 26.25rem;
}

.fv__btn {
	font-size: 1.0625rem;
	padding-bottom: 0.875rem;
	padding-right: 0.6875rem;
	padding-top: 0.875rem;
}

.fv__mainImage {
	width: 60%;
}

.introduction__title {
	font-size: 2.0625rem;
}

.job {
	max-width: 54.375rem;
}

.job__title {
	font-size: 2.0625rem;
}

.news__title {
	font-size: 2.0625rem;
}

.pasture__title {
	font-size: 2.0625rem;
}

.pasture__image {
	max-width: 46.875rem;
}

.question__title {
	font-size: 2.0625rem;
}

.seminar__title {
	font-size: 2.0625rem;
}

.article__btn {
	font-size: 1.375rem;
	height: 3.75rem;
	line-height: 3.75rem;
	width: 27.5rem;
}

.flowBtn--faq {
	bottom: 12.1875rem;
}

.flowBtn--top {
	bottom: 7.1875rem;
}

.flowBtn--top.interview {
	bottom: 3.125rem;
}

.unit {
	max-width: 54.375rem;
}

.unit__title {
	font-size: 2.0625rem;
}

.works__title {
	font-size: 2.0625rem;
}

.u-hidden-pc {
	display: none;
}

}

@media screen and (max-width: 1023px) {

html {
	font-size: 1.6vw;
}

.l-inner {
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.fv__body {
	left: 50%;
	top: 0.625rem;
	transform: translateX(-45%);
}

.fv__mainImage img {
	border-radius: 0;
}

.fv__mainImage {
	padding-top: 18.75rem;
	width: 100%;
}

}

@media screen and (max-width: 767px) {

html {
	font-size: 16px;
}

.about {
	padding-bottom: 7.5rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	padding-top: 7.5rem;
}

.about::after {
	content: none;
}

.about__media {
	flex-direction: column;
}

.about__body {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.about__title {
	font-size: 1.375rem;
}

.about__video {
	height: 13.125rem;
	margin-top: 1.25rem;
	width: 100%;
}

.archive {
	margin-top: 3.4375rem;
	padding-top: 5rem;
}

.archive__title {
	font-size: 1.375rem;
}

.archive__item {
	margin-right: 6%;
	width: 47%;
}

.archive__item:nth-of-type(3n) {
	margin-right: 6%;
}

.archive__item:nth-of-type(2n) {
	margin-right: 0;
}

.archive__singleTitle {
	font-size: 0.6875rem;
}

.archive__badge {
	font-size: 0.625rem;
}

.archive__name {
	font-size: 0.625rem;
}

.archive__date {
	font-size: 0.625rem;
}

.benefits {
	padding-bottom: 7.5rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	padding-top: 7.5rem;
}

.benefits__title {
	font-size: 1.375rem;
}

.benefits__media {
	flex-direction: column;
}

.benefits__image {
	margin-bottom: 1.25rem;
	margin-right: 0;
	width: 100%;
}

.benefits__body {
	width: 100%;
}

.benefits__register {
	font-size: 0.75rem;
}

.btn {
	border-radius: 1.4375rem;
	font-size: 1rem;
	height: 2.8125rem;
	line-height: 2.8125rem;
	width: 18.75rem;
}

.case {
	padding-bottom: 7.5rem;
	padding-top: 7.5rem;
}

.case__title {
	font-size: 1.375rem;
}

.case__cardUnit {
	flex-direction: column;
}

.case__card:nth-child(2n) {
	margin-right: auto;
}

.case__card {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.9375rem;
	width: 95%;
}

.case__card:first-child {
	margin-top: 0;
}

.case__logo {
	height: 0.5rem;
	width: 6.75rem;
}

.case__categoryItem {
	width: 7.1875rem;
}

.complete__title {
	font-size: 1.5625rem;
}

.complete__infoWrap {
	margin-right: 1.875rem;
	padding-left: 1.875rem;
}

.complete__infoWrap a {
	font-size: 0.9375rem;
}

.contact__title {
	font-size: 1.5625rem;
}

.contact__phaseList::before {
	width: 16.25rem;
}

.contact__phaseItem {
	margin-right: 4.6875rem;
}

.contact__label br {
	display: block;
}

.contact__select .mwform-checkbox-field-text {
	font-size: 0.625rem;
}

.contact__submitWrap input {
	font-size: 1rem;
	height: 2.8125rem;
	line-height: 2.8125rem;
	width: 18.75rem;
}

.flow {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	padding-top: 7.5rem;
}

.flow::after {
	content: none;
}

.flow__title {
	font-size: 1.375rem;
}

.flow__item {
	flex-direction: column;
	margin-top: 2.5rem;
}

.flow__contents {
	flex-direction: column;
	margin-left: 0;
	margin-right: auto;
}

.flow__number::before {
	content: none;
}

.flow__number {
	margin-right: 0;
	width: 3.325rem;
}

.flow__number--first {
	margin-right: 0;
	width: 2.84375rem;
}

.flow__body {
	margin-top: 0.9375rem;
	width: 100%;
}

.flow__image {
	margin-top: 1.25rem;
	width: 8.125rem;
}

.flowBtn--faq {
	bottom: 9.0625rem;
	height: 2.09016rem;
	right: 0.625rem;
	width: 2.65891rem;
}

.flowBtn--top {
	bottom: 5.5625rem;
	height: 2.65891rem;
	right: 0.625rem;
	width: 2.65891rem;
}

.footer__logos {
	flex-direction: column;
}

.footer__lancer {
	height: 1.25rem;
	margin-left: 0;
	margin-right: auto;
	width: 11.8125rem;
}

.footer__digital {
	margin-top: 1.5625rem;
}

.footer__digitalName {
	font-size: 0.75rem;
}

.footer__digitalLogo {
	width: 8.75rem;
}

.footer__contents {
	flex-direction: column;
}

.footer__navList {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.footer__navItem {
	font-size: 0.6875rem;
	width: 33.333%;
}

.footer__relatedLogos {
	margin-top: 1.5625rem;
	width: 100%;
}

.fv {
	margin-top: 3.4375rem;
}

.fv__body {
	transform: translateX(-50%);
}

.fv__catch {
	font-size: 0.8125rem;
}

.fv__title {
	margin-top: 1.5625rem;
	width: 17.5rem;
}

.fv__btnWrap {
	margin-top: 2.5rem;
}

.fv__btn {
	font-size: 0.75rem;
	padding-bottom: 0.625rem;
	padding-right: 0.5rem;
	padding-top: 0.625rem;
}

.fv__mainImage {
	padding-top: 13.75rem;
}

.header__inner--pc {
	display: none;
}

.header__inner--sp {
	display: flex;
}

.introduction {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	padding-top: 7.5rem;
}

.introduction::after {
	content: none;
}

.introduction__media {
	flex-direction: column;
}

.introduction__body {
	margin-right: 0;
}

.introduction__title {
	font-size: 1.375rem;
}

.introduction__explain {
	margin-top: 1.625rem;
}

.introduction__image {
	margin-top: 1.5625rem;
	width: 100%;
}

.introduction__cardUnit {
	flex-direction: column;
}

.introduction__card--left {
	margin-bottom: 1.25rem;
	margin-right: 0;
}

.introduction__card {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	width: 100%;
}

.introduction__ok {
	width: 100%;
}

.job {
	padding-bottom: 7.5rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	padding-top: 7.5rem;
}

.job::after {
	content: none;
}

.job__title {
	font-size: 1.375rem;
}

.job__imageItem {
	margin-right: 4%;
	width: 48%;
}

.job__imageItem:nth-of-type(2n) {
	margin-right: 0;
}

.job__imageItem:nth-of-type(3) {
	margin-right: 4%;
}

.job__image {
	height: 7.5rem;
}

.news {
	padding-bottom: 7.5rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	padding-top: 7.5rem;
}

.news__title {
	font-size: 1.375rem;
}

.news__inner {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	width: 100%;
}

.pasture {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	padding-top: 7.5rem;
}

.pasture::after {
	content: none;
}

.pasture__title {
	font-size: 1.375rem;
}

.question {
	padding-bottom: 7.5rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	padding-top: 7.5rem;
}

.question__title {
	font-size: 1.375rem;
}

.title {
	font-size: 0.875rem;
	margin-bottom: 0.3125rem;
	padding-bottom: 5%;
	padding-top: 5%;
}

.seminar {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	padding-top: 7.5rem;
}

.seminar__title {
	font-size: 1.375rem;
}

.seminar__cardUnit {
	flex-direction: column;
}

.seminar__card {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.25rem;
	width: 90%;
}

.seminar__card:first-child {
	margin-top: 0;
}

.seminar__card:last-child {
	margin-right: auto;
}

.article {
	margin-top: 3.4375rem;
	padding-top: 2.5rem;
}

.article__bread {
	left: 0.625rem;
	transform: none;
}

.article__breadItem {
	font-size: 0.625rem;
}

.article__info {
	flex-direction: column-reverse;
}

.article__body {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.875rem;
}

.article__title {
	font-size: 1.125rem;
}

.article__badge {
	font-size: 0.75rem;
	margin-top: 1.875rem;
}

.article__name {
	font-size: 0.75rem;
}

.article__categories {
	margin-top: 1.875rem;
	width: 100%;
}

.article__image {
	width: 100%;
}

.article__newList {
	flex-direction: column;
}

.article__newItem:first-child {
	margin-right: 0;
}

.article__newItem {
	margin-bottom: 0.9375rem;
	width: 100%;
}

.article__newBody {
	max-width: 12.1875rem;
}

.article__newTitle {
	font-size: 0.75rem;
}

.article__btn {
	border-radius: 1.4375rem;
	font-size: 1rem;
	height: 2.8125rem;
	line-height: 2.8125rem;
	width: 18.75rem;
}

.flowBtn--faq {
	bottom: 9.0625rem;
	height: 2.09016rem;
	right: 0.625rem;
	width: 2.65891rem;
}

.flowBtn--top {
	bottom: 5.5625rem;
	height: 2.65891rem;
	right: 0.625rem;
	width: 2.65891rem;
}

.flowBtn--top.interview {
	bottom: 1.25rem;
}

.unit {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

.unit__title {
	font-size: 1.375rem;
}

.unit__title br {
	display: block;
}

.works {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

.works__title {
	font-size: 1.375rem;
}

.works__title .small {
	font-size: 0.75rem;
}

.works__explain {
	font-size: 0.875rem;
}

.p-test {
	color: green;
	font-size: 1.875rem;
}

.u-hidden-sp {
	display: none;
}

}

