.about {
  padding-top: rem(188.5);
  padding-bottom: rem(182);
  &__media {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__body {
    margin-right: rem(30);
    width: rem(355);
  }
  &__title {
    font-size: rem(30);
    font-weight: bold;
  }
  &__explain {
    margin-top: rem(30);
    font-size: rem(14);
    font-weight: 600;
    line-height: ( 35 / 20 );
    .small {
      font-size: rem(10);
    }
  }
}