.btn {
  display: block;
  width: rem(425);
  height: rem(70);
  margin-right: auto;
  margin-left: auto;
  font-size: rem(20);
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
  line-height: rem(70);
  background-color: #070749;
  border-radius: rem(35);
  position: relative;
  color: #fff;
  transition: all .3s;
  &::after {
    content: "";
    width: rem(11);
    height: rem(18);
    background-image: url(../img/arrow-btn@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    right: rem(40);
  }
  &--flow {
    width: rem(300);
    height: rem(45);
    font-size: rem(16);
    line-height: rem(45);
    background : linear-gradient(90deg, rgba(0, 160, 233, 1) 0%, rgba(0, 210, 160, 1) 100%);
  }
  @include mq(sp) {
    width: rem(300);
    height: rem(45);
    font-size: rem(16);
    line-height: rem(45);
    border-radius: rem(23);
  }
  @include mq(pc) {
    font-size: rem(22);
    width: rem(440);
    height: rem(60);
    line-height: rem(60);
  }
}