.contact {
  padding: rem(85) rem(15) rem(250) rem(15);
  max-width: rem(590);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  &__title {
    font-size: rem(35.75);
    font-weight: bold;
    text-align: center;
  }
  
  &__english {
    font-size: rem(19.5);
    font-family: Futura, 'Century Gothic', sans-serif;
    font-weight: bold;
    color: #00a0e9;
    text-align: center;
    margin-top: rem(32.5);
  }
  &__phase {
    margin-top: rem(105);
  }
  &__phaseList {
    display: flex;
    justify-content: center;
    position: relative;
    &::before {
      content: "";
      width: rem(410);
      height: rem(1.5);
      background-color: #070749;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: rem(-26);
    }
  }
  &__phaseItem {
    font-size: rem(14);
    font-weight: bold;
    position: relative;
    margin-right: rem(150);
    &::before {
      content: "";
      width: rem(10);
      height: rem(10);
      border: rem(2) solid #070749;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: rem(-30);
    }
    &.current {
      &::before {
        background-color: #070749;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__explain {
    font-size: rem(14);
    font-weight: 600;
    margin-top: rem(60);
  }
  &__time {
    text-align: center;
    font-size: rem(14);
    font-weight: bold;
    color: #fff;
    width: rem(260);
    line-height: rem(26);
    background-color: #070749;
    border-radius: rem(13);
    margin-right: auto;
    margin-left: auto;
    margin-top: rem(32.5);
  }
  &__main {
    max-width: rem(520);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: rem(75);
    font-size: 0;
    color: #333;
  }
  &__confirm {
    max-width: rem(520);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: rem(75);
    color: #333;
    font-weight: bold;
    font-size: rem(16);
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  }
  input, select, textarea {
    background-color: #edf8fd;
    border: none;
    padding: rem(10) rem(20);
    font-size: rem(14);
    font-weight: 600;
    color: #666666;
    &.gray {
      background-color: #efefef;
    }
  }
  &__item {
    margin-top: rem(20);
    &--color {
      margin-top: rem(30);
    }
    &--border {
      padding-top: rem(30);
      margin-top: rem(30);
      border-top: rem(1) solid #070749;
    }
  }
  &__label {
    font-size: rem(14);
    font-weight: bold;
    margin-bottom: rem(10);
    &--notOne {
      margin-top: rem(30);
    }
    &.need {
      display: inline-block;
      position: relative;
      &::after {
        content: "*";
        font-size: rem(10);
        color: #ff0000;
        position: absolute;
        top: 0;
        right: rem(-10);
      }
    }
  }
  &__detail {
    font-size: rem(12);
    font-weight: 600;
  }
  &__separate {
    display: flex;
    &-inner {
      width: 48%;
      margin-right: 4%;
      &:last-child {
        margin-right: 0;
      }
    }
    input {
      width: 100%;
    }
    select {
      width: 48%;
    }
  }
  &__wide {
    input {
      width: 100%;
    }
  }
  &__textarea {
    margin-top: rem(20);
    width: 100%;
    textarea {
      width: 100%;
    }
  }
  &__color {
    padding-top: rem(11);
    padding-bottom: rem(11);
    padding-left: rem(13);
    font-size: rem(14);
    font-weight: bold;
    color: #fff;
    &.orange {
      background-color: #f15a24;
    }
    &.green {
      background-color: #00a024;
    }
    &.pink {
      background-color: #dc0a78;
    }
    &.gray {
      background-color: #999999;
    }
    &.beige {
      background-color: #c69c6d;
    }
    .need {
      display: inline-block;
      position: relative;
      &::after {
        content: "*";
        font-size: rem(10);
        color: #fff;
        position: absolute;
        top: 0;
        right: rem(-5);
      }
    }
  }
  &__select {
    background-color: #fafafa;
    width: 100%;
    padding: rem(12);
    display: flex;
    flex-wrap: wrap;
    .mwform-checkbox-field.horizontal-item {
      display: block;
      width: 50%;
      margin: 0;
    }
    .mwform-checkbox-field-text {
      font-size: rem(12.5);
      font-weight: 600;
      margin: 0;
      padding-left: rem(28);
      &::before {
        border-color: #333;
        left: 0;
      }
      &::after {
        left: 4px !important;
      }
    }
    input[type="checkbox"]:checked + span::before {
      border-color: #070749;
    }
    input[type="checkbox"]:checked + span::after {
      background-color: #070749;
    }
    input[type="checkbox"]:checked + span {
      color: #070749;
    }
  }
  &__radio {
    width: 100%;
    margin-top: rem(10);
    display: flex;
    flex-wrap: wrap;
    .mwform-radio-field.horizontal-item {
      width: 100%;
      margin: 0;
    }
    .mwform-radio-field-text {
      font-size: rem(14);
      font-weight: bold;
    }
    input[type="radio"]:checked + span::before {
      border-color: #070749;
    }
    input[type="radio"]:checked + span {
      color: #070749;
    }
    input[type="radio"]:checked + span::after {
      background-color: #fff;
      box-sizing: content-box;
      border: 6px solid #070749;
      width: rem(5);
      height: rem(5);
      left: -8.5px;
      top: 38%;
    }
  }
  &__attention {
    margin-top: rem(8);
    font-size: rem(10);
    font-weight: bold;
  }
  &__privacyWrap {
    margin-top: rem(90);
    display: flex;
    justify-content: center;
    align-items: center;
    input[type="checkbox"] + span::before {
      left: 50%;
      transform: translateX(-50%);
    }
    input[type="checkbox"]:checked + span::before {
      border-color: #070749;
    }
    input[type="checkbox"] + span::after {
      left: 50%;
      transform: translateX(-50%);
    }
    input[type="checkbox"]:checked + span::after {
      background-color: #070749;
    }
    input[type="checkbox"]:checked + span {
      color: #070749;
    }
  }
  &__privacyText {
    font-size: rem(16);
    font-weight: bold;
    a {
      color: #666666;
      text-decoration: underline;
    }
  }
  &__submitWrap {
    text-align: center;
    position: relative;
    margin-top: rem(50);
    &::after {
      content: "";
      width: rem(11);
      height: rem(18);
      background-image: url(../img/arrow-btn@2x.png);
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      transform: translateY(-55%);
      right: rem(90);
    }
    input {
      display: block;
      width: rem(425);
      height: rem(70);
      padding: 0;
      margin-right: auto;
      margin-left: auto;
      font-size: rem(20);
      font-weight: bold;
      letter-spacing: 0.05em;
      text-align: center;
      line-height: rem(70);
      background-color: #070749;
      border-radius: rem(35);
      color: #fff;
      transition: all .3s;
      &.return {
        background-color: #808080;
      }
      &:disabled {
        background-color: #808080;
      }
    }
  }
}
.mw_wp_form .error {
  font-size: rem(12) !important;
}