.flow {
  padding-top: rem(150);
  max-width: rem(832);
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  &__title {
    font-size: rem(30);
    font-weight: bold;
  }
  &__explain {
    margin-top: rem(33);
    font-size: rem(14);
    font-weight: 600;
    line-height: ( 35 / 20 );
  }
  &__list {
    margin-top: rem(85);
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    &--second {
      margin-top: rem(52);
    }
    &--third {
      margin-top: rem(90);
    }
    &--fourth {
      margin-top: rem(90);
    }
    &--fifth {
      margin-top: rem(85);
    }
  }
  &__contents {
    display: flex;
    align-items: flex-start;
    margin-right: rem(68);
  }
  &__number {
    width: rem(76);
    height: auto;
    margin-right: rem(23);
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    &::before {
      content: "";
      width: rem(1);
      height: rem(103);
      background-color: #070749;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: rem(-133);
    }
    &--first {
      width: rem(65);
      margin-right: rem(33);
      &::before {
        content: none;
      }
    }
  }
  &__body {
    width: rem(370);
  }
  &__head {
    font-size: rem(20);
    font-weight: bold;
  }
  &__detail {
    margin-top: rem(15);
    font-size: rem(12);
    font-weight: bold;
    line-height: ( 25 / 18 );
    .small {
      font-size: rem(10);
    }
  }
  &__image {
    width: rem(180);
    height: auto;
    img {
      width: 100%;
      height: 100%;
    }
  }
}