.flowBtn {
  position: fixed;
  &--faq {
    width: rem(60.775);
    height: rem(47.775);
    left: calc(50% + 470px);
    bottom: rem(100);
    img {
      width: 100%;
      height: 100%;
    }
  }
  &--top {
    width: rem(60.775);
    height: rem(60.775);
    left: calc(50% + 470px);
    bottom: rem(20);
    img {
      width: 100%;
      height: 100%;
    }
  }
}