.header {
  &__inner {
    width: 100%;
    height: rem(80);
    padding-top: rem(20);
    padding-left: rem(65);
    margin-right: auto;
    margin-left: auto;
  }
  &__logo {
    display: block;
    width: rem(190);
    height: auto;
    img {
      width: 100%;
      height: 100%;
    }
  }
}