.news {
  background-color: #f2fafe;
  padding-top: rem(68);
  padding-bottom: rem(62);
  @include mq(sp) {
    padding-top: rem(120);
    padding-bottom: rem(120);
    padding-right: rem(15);
    padding-left: rem(15);
  } 
  &__title {
    font-size: rem(30);
    font-weight: bold;
    text-align: center;
    @include mq(sp) {
      font-size: rem(22);
    }
    @include mq(pc) {
      font-size: rem(33);
    }
  }
  &__inner {
    margin-top: rem(36);
    margin-bottom: rem(13);
    width: 90%;
    max-width: rem(832);
    margin-right: auto;
    margin-left: auto;
    padding-top: rem(26);
    padding-bottom: rem(30);
    padding-left: rem(32.5);
    padding-right: rem(32.5);
    border-radius: rem(25);
    background-color: #fff;
    @include mq(sp) {
      width: 100%;
      padding-right: rem(20);
      padding-left: rem(20);
    } 
  }
  &__head {
    font-size: rem(20);
    font-weight: bold;
    margin-top: rem(30);
    &:first-child {
      margin-top: 0;
    }
  }
  &__list {
    margin-top: rem(22.75);
  }
  &__item {
    display: flex;
    margin-top: rem(16.25);
    &:first-child {
      margin-top: 0;
    }
  }
  &__badge {
    font-size: rem(14);
    font-weight: bold;
    color: #ff0000;
    text-transform: uppercase;
    margin-right: rem(13);
  }
  &__date {
    font-size: rem(14);
    font-weight: 600;
    color: #808080;
    margin-right: rem(13);
  }
  &__link {
    font-size: rem(14);
    font-weight: bold;
    color: #333;
    text-decoration: underline;
  }
  &__attention {
    font-size: rem(12);
    font-weight: bold;
    text-align: center;
    margin-bottom: rem(55);
    a {
      color: #00a0e9;
      text-decoration: underline;
    }
  }
}