.question {
  padding-top: rem(110);
  padding-bottom: rem(290);
  @include mq(sp) {
    padding-top: rem(120);
    padding-bottom: rem(120);
    padding-right: rem(15);
    padding-left: rem(15);  
  } 
  &__title {
    font-size: rem(30);
    font-weight: bold;
    text-align: center;
    @include mq(sp) {
      font-size: rem(22);
    }
  }
}

/*アコーディオン全体*/
.accordion-area{
  list-style: none;
  width: 100%;
  max-width: rem(832);
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(60);
}

.accordion-area li{
  margin: 10px 0;
}

.accordion-area section {
  background-color: #edf8fd;
}

/*アコーディオンタイトル*/
.title {
  position: relative;/*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size:rem(18);
  font-weight: bold;
  padding: 3% rem(57.5) 3% rem(90);
  transition: all .5s ease;
  @include mq(sp) {
    font-size: rem(14);
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: rem(5);
  }
}

/*アイコンの＋と×*/
.title::before,
.title::after{
  position: absolute;
  content:'';
}
.title::before{
  width: rem(18.2);
  height: rem(33.8);
  top:50%;
  left: rem(26);
  transform: translateY(-50%);
  background-image: url(../img/question@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.title::after{    
  top:50%;
  right: rem(15);
  transform: translateY(-50%);
  width: rem(34);
  height: rem(34);
  background-image: url(../img/plus@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.title.close::after{
  background-image: url(../img/minus@2x.png);
}

/*アコーディオンで現れるエリア*/
.box {
  display: none;/*はじめは非表示*/
  background: #edf8fd;
  padding: 0 rem(80) 5% rem(90);
  position: relative;
  font-weight: 600;
  font-size: rem(14);
  &::before {
    content: "";
    width: rem(25.35);
    height: rem(46.15);
    position: absolute;
    top:0;
    left: rem(22);
    background-image: url(../img/answer@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
  
  }
}